<div class="wrapper">
  <div class="wrapper_left" id="admbtn">
    <button routerLink="/adm_dashboard">Admin</button>
  </div>
  <div class="wrapper_right">
      <h2 class="item">NoLama</h2>
      <a routerLink="/landing">
       <img src="https://via.placeholder.com/100" alt="">
       </a>
  </div>
  <div class="wrapper">
    <button id="cartBtn" routerLink="/cart">Koszyk: {{getCartQuantity()}} </button>
    <input type="text" [(ngModel)]="this.mainService.productsRequest.name">
    <button (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
  </div>
</div>
