@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-box-justify-content: $value;
  -moz-box-justify-content:  $value;
  -webkit-justify-content:  $value;
  -ms-justify-content:  $value;
  justify-content:  $value;
}

@mixin width($value) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  width: $value;
}

.wrapper_right {
  @include flexbox();
  @include justify-content(flex-end);
  @include flex-flow(row wrap);
  flex: 1 1 auto;
  background-color: lightgreen;
}

.wrapper_left {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-flow(row wrap);
  flex: 1 1 auto;
  background-color: lightsalmon
}

.wrapper {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include width(100%);
  background-color: lightblue;
}

.item {
  margin: auto 2rem;
}

#admbtn {
  position: fixed;
  margin: 0;
  padding: 1.5rem;
  left: 2rem;
  bottom: 2rem;
  transition-duration: 0.1s;
  background-color: white;
  border: 2px solid rgb(255, 10, 145);
  box-shadow: 0 5px 20px -5px rgb(150, 150, 150);
  border-radius: 100%;
  color: rgb(255, 10, 145);
  font-size: 2rem;
}

#admbtn:hover {
  background-color: rgb(255, 10, 145);
  color: white;
}

#cartBtn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

button img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  margin: auto;
}
