@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-box-justify-content: $value;
  -moz-box-justify-content:  $value;
  -webkit-justify-content:  $value;
  -ms-justify-content:  $value;
  justify-content:  $value;
}

@mixin width($value) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  width: $value;
}

.wrapper_right {
  @include flexbox();
  @include justify-content(flex-end);
  @include flex-flow(row wrap);
  flex: 1 1 auto;
  background-color: rgb(255, 10, 145);
}

.wrapper {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include width(100%);
  color: white;
  background-color: rgb(46, 46, 46);
}

.item {
  margin: auto 2rem;
}

#admbtn, #cartBtn, #scroll_top, #cart_price {
  position: fixed;
  margin: auto;
  padding: 1vw;
  transition-duration: 0.1s;
  background-color: white;
  border: 2px solid rgb(255, 10, 145);
  box-shadow: 0 5px 10px -5px black;
  color: rgb(255, 10, 145);
  font-size: 1.5rem;
}

#admbtn:hover, #cartBtn:hover, #scroll_top:hover {
  background-color: rgb(255, 10, 145);
  color: white;
}

#admbtn {
  left: 2vw;
  bottom: 2vw;
}

#cartBtn {
  right: 2vw;
  bottom: 2vw;
}
#cart_price {
  right: 6vw;
  bottom: 2vw;
  padding: 0 0.7vw;
}
#scroll_top {
  bottom: 2vw;
}
img {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

#button_compound {
  div {
    @include flexbox();
    @include flex-flow(row wrap);
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    padding: 0.5vw;
    transition-duration: 0.1s;
    background-color: white;
    border: 2px solid rgb(255, 10, 145);
    box-shadow: 0 5px 10px -5px black;
    color: rgb(255, 10, 145);
    font-size: 1.5rem;
    text-decoration: none;
    * {
      margin: 0.5vw;
      @include flex(1 1);
      @include width(100%);
    }
  }
}
#button_compound div:hover {
  background-color: rgb(255, 10, 145);
  color: white;
}
