* {
  font-family: Arial, sans-serif !important;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-box-justify-content: $value;
  -moz-box-justify-content:  $value;
  -webkit-justify-content:  $value;
  -ms-justify-content:  $value;
  justify-content:  $value;
}

@mixin width($value) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  width: $value;
}

#side_nav {
  @include flexbox();
  @include flex-flow(row wrap);
  @include flex(1 1);
  position: sticky;
  min-height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2rem;
  a {
    padding: 6px 16px 6px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  a:hover {
    color: white;
    background-color: rgb(255, 10, 145);
    cursor: pointer;
  }
  #show {
    @include flex(1 1 auto);
    text-align: center;
    padding: 1.5rem;
    color: white;
    font-size: 2rem;
    background-color: #111;
    outline: none;
    border: 5px solid #111;
    border-right:none;
  }
  #show:hover {
    color: #111;
    background-color: rgb(255, 253, 235);
    cursor: pointer;
  }
}

#scroll_top {
  position: fixed;
  margin: auto;
  padding: 1rem;
  transition-duration: 0.1s;
  background-color: white;
  border: 2px solid rgb(255, 10, 145);
  box-shadow: 0 5px 10px -5px black;
  color: rgb(255, 10, 145);
  font-size: 1.5rem;
  outline: none;
  display: none;
  bottom: 2rem;
  left: 0;
  right: 0;
}

#scroll_top:hover {
  background-color: rgb(255, 10, 145);
  color: white;
  cursor: pointer;
}

.m-fadeOut {
  display: none;
}
.m-fadeIn {
  @include flexbox();
  @include flex-flow(column wrap);
}
.show_button {
  margin-left: auto;
}
