* {
  font-family: Arial, sans-serif !important;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-box-justify-content: $value;
  -moz-box-justify-content:  $value;
  -webkit-justify-content:  $value;
  -ms-justify-content:  $value;
  justify-content:  $value;
}

@mixin width($value) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  width: $value;
}
.wrapper_parrent {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include width(100%);
  min-height: 21vh;
  background-image: url('../../../assets/photos/landscape3.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px -5px black inset;
  .wrapper_main_child {
    @include flexbox();
    flex-direction: column; // zmienić
    margin: auto;
    @include flex(3 1);
    table {
      table-layout: auto;
      margin: 20px auto;
      @include width(100%);
      text-align: center;
      vertical-align: middle;
      border-collapse: collapse;
      thead {
        background-color:rgb(46, 46, 46);
        color: white;
        th {
          padding: 1vw;
          * {
            display: inline-block;
            margin: 5px;
          }
        }
      };
      img {
        max-width: 100px;
      };
      #tableBody tr {
        background-color: rgb(255, 230, 245);
        border-bottom: 0.1rem solid rgb(255, 10, 145);
      }
      #tableBody tr:hover {
        background-color: rgb(255, 117, 193);;
      }
      ul li {
        list-style: none;
        text-align: left;
        display: block;
      }
      button {
        transition-duration: 0.1s;
        background-color: white;
        padding: 15px 20px;
        font-size: 15px;
        border: 2px solid rgb(255, 10, 145);
        box-shadow: 0 5px 10px -5px black;
        color: rgb(255, 10, 145);
        outline: none;
      }
      button:hover {
        background-color: rgb(255, 10, 145);
        color: white;
        cursor: pointer;
      }
    }
    .wrapper_main_child_up {
      @include flex(1 1 auto);
      background-color: rgb(255, 127, 227);
    }
  }
  .wrapper_side_child {
    @include flex(1 1 auto);
    // Może jakieś reklamy later
  }
}
.wrapper {
  @include flexbox();
  @include flex-flow(column wrap);
  @include justify-content(center);
  @include width(100%);
  .wrapper_form {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(center);
    background-color: rgb(255, 253, 235);
    @include width(100%);
    padding: 20px 0;
    box-shadow: 0 0 20px -5px black inset;
    form {
      @include flexbox();
      @include flex-flow(column wrap);
      @include width(40%);
      background-color: rgb(46, 46, 46);
      box-shadow: 0 -2px 10px -5px black;
      .inputItem {
        @include flexbox();
        @include flex-flow(row wrap);
        @include width(100%);
        @include justify-content(space-between);
        background-color: rgb(255, 230, 245);
        .left-50, .right-50 {
          @include flex(1 1 auto);
          @include flexbox();
          @include flex-flow(column wrap);
          *{
            margin: 10px 15px;
          }
        }
        .left-50p, .right-50p {
          @include flexbox();
          @include flex-flow(column wrap);
          margin: auto;
        }
      }
      .checkItem {
        @include flexbox();
        @include width(100%);
        @include justify-content(space-between);
        label {
          @include flexbox();
          @include flex-flow(row wrap);
          @include justify-content(space-between);
          margin: auto;
          padding: 10px;
          color: white;
          * {
            text-align: center;
            margin: auto 5px;
          }
          button {
            transition-duration: 0.1s;
            background-color: rgb(46,46,46);
            padding: 5px 10px;
            font-size: 15px;
            border: 2px solid rgb(255, 10, 145);
            box-shadow: 0 5px 10px -5px black;
            color: rgb(255, 10, 145);
            outline: none;
          }
          #correct {
            transition-duration: 0.1s;
            background-color: white;
            padding: 5px 10px;
            font-size: 15px;
            border: 2px solid rgb(255, 10, 145);
            box-shadow: 0 5px 10px -5px black;
            color: rgb(255, 10, 145);
          }
          #correct:hover {
            background-color: rgb(255, 10, 145);
            color: white;
            cursor: pointer;
          }
          #invalid {
            cursor: not-allowed;
          }
        }
      }
    }
  }
  .payment {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(center);
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 1.5rem;
  }
}
.left-50p, .right-50p {
  margin: auto 0;
  *{
    color: white;
    margin: 15px;
  }
}
