* {
  font-family: Arial, sans-serif !important;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow($values) {
  -webkit-box-flex-flow: $values;
  -moz-box-flex-flow:  $values;
  -webkit-flex-flow:  $values;
  -ms-flex-flow:  $values;
  flex-flow: $values;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin justify-content($value) {
  -webkit-box-justify-content: $value;
  -moz-box-justify-content:  $value;
  -webkit-justify-content:  $value;
  -ms-justify-content:  $value;
  justify-content:  $value;
}

@mixin width($value) {
  -webkit-column-width: $value;
  -moz-column-width: $value;
  width: $value;
}

.wrapper_right {
  @include flexbox();
  @include justify-content(flex-end);
  @include flex-flow(row wrap);
  @include width(50%);
}

.wrapper_left {
  @include flexbox();
  @include justify-content(flex-start);
  @include flex-flow(row wrap);
  @include width(50%);
}

#cartTable
{
  margin: 0 auto;
  @include flex(1 1 auto);
  img
  {
    width: 200px;
    max-width: 100%;
  };
  td
  {
    padding: 20px;
  }
  thead {
    @include width(100%);
  }
  tbody {
    @include width(100%);
  }
}

.wrapper {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include width(100%);
  background-color:darkgoldenrod;
}

.wrapper_form {
  @include flexbox();
  @include flex-flow(row wrap);
  @include justify-content(center);
  @include width(100%);
  margin: auto;
  background-color: chocolate;
  padding: 20px;
}

.body-wrapper {
  min-height: 70vh;
  background-color: aqua;
}

.sideTable {
  @include flex(1 1 auto);
  min-height: 50vh;
}
#tableHead {
  @include width(100%);
  background-color: magenta;
}

.summary {
  @extend .wrapper;
  background-color: beige;
}

#paypal {
  @extend .wrapper;
  background-color: brown;
}

.inputItem {
  @include flexbox();
  justify-content: flex-end;
  margin: auto;
}


.wrapper_parrent {
  @include flexbox();
  .wrapper_main_child{
    @include flexbox();
    @include flex(2 2 auto);
    .wrapper_main_child_table{
      @include flex(1 1 auto);
    }
    .wrapper_main_child_up{
      @include flex(1 1 auto);
    }
  }
  .wrapper_side_child{
    @include flex(1 1 auto);
    // Może jakieś reklamy later
  }
}
